/* profil.css */

/* Reset des marges et des paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général du body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Style de l'en-tête */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin-bottom: 10px;
}

header img {
    width: 50px;
    height: 50px;
}

/* Style de la navigation */
nav .menu {
    display: flex;
    justify-content: center;
    background-color: #333;
    margin-top: 20px;
    width: 100%;
}

nav .menu a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    flex: 1;
}

nav .menu a:hover {
    background-color: #198015;
}

/* Style du profil utilisateur */
#userProfile {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
}

#userProfile h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #4CAF50;
}

#userProfile div {
    margin-bottom: 10px;
}

#userProfile label {
    font-weight: bold;
    margin-right: 10px;
}

#userProfile span {
    font-style: italic;
}

/* Style du sélecteur de mémoire */
h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #4CAF50;
}

/* Ajustement pour le sélecteur de mémoire */
#memory {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    /* Ajout d'une marge en bas pour l'espacement */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* Assure que le padding est inclus dans la largeur */
}

/* Ajustements pour petits écrans */
@media (max-width: 600px) {
    nav .menu {
        flex-direction: column;
    }

    nav .menu a {
        padding: 10px;
    }

    #userProfile {
        width: 90%;
    }

    #memory {
        width: 90%;
    }
}