/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps de la page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* En-tête */
header {
    background-color: #4CAF50;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Menu de navigation */
nav {
    background-color: #333;
    width: 100%;
    margin-bottom: 20px;
}

nav .menu {
    display: flex;
    justify-content: center;
}

nav .menu a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

nav .menu a:hover {
    background-color: #198015;
    color: black;
}

/* Contenu principal */
.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 800px;
}

.container p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.container h2 {
    margin-bottom: 10px;
    color: #4CAF50;
}

.container ul {
    margin-bottom: 20px;
    list-style: inside disc;
}

.container ul li {
    margin-bottom: 10px;
}

.container img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Paragraphe avec texte fort */
.container strong {
    color: #333;
}

/* Média queries pour adaptabilité */
@media (max-width: 600px) {
    nav .menu {
        flex-direction: column;
    }

    nav .menu a {
        padding: 10px;
    }
}
